
.hex{
    stroke: #000;
    stroke-opacity: 0.2;
}

.hex-air{
    fill: rgba(0, 0, 0, 0);
}

.hex-wall{
    /* fill: rgb(9, 40, 53); */
    fill: darkslategray;
    position: relative;
    /*
    animation-name: wall-pop;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    */
}