
.hex{
    stroke: #000;
    stroke-opacity: 0.2;
}

.hex-air{
    fill: white;
}

.hex-wall{
    /* fill: rgb(9, 40, 53); */
    fill: #596275;
    animation-name: wall-pop;
    animation-duration: 0.05s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.hex-visited{
    fill:#98FB98;
}

@keyframes wall-pop{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}